body {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.details-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.url-input-form-container {
    margin: 20px;
}