<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>URL Shortener - Error</title>

  <style>
    body {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;
    }

    input {
      margin: 10px;
      width: 200px;
      height: 100px;
      font-size: 1.2em;
    }
  </style>

</head>
<body>
  <h1>Oh no... Error...</h1>
  <input type="button" value="Get me back!" onclick="window.location.href='/'">
  <img src="/img/sad-kitten.webp"  alt="sad kitten"/>
</body>
</html>